<a href="https://colab.research.google.com/github/tunmisebilewu/tunmise/blob/main/Tunmise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

Write a program that will find all numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a list.

Hints: Consider using the range(#begin, #end) method.

In [ ]:
MyList=[]
for i in range(2000,3201):
  if i%7==0 and i%5 !=0:
    MyList.append(i)
    print(i, "is divisible by 7 and not a multiple of 5")

2002 is divisible by 7 and not a multiple of 5
2009 is divisible by 7 and not a multiple of 5
2016 is divisible by 7 and not a multiple of 5
2023 is divisible by 7 and not a multiple of 5
2037 is divisible by 7 and not a multiple of 5
2044 is divisible by 7 and not a multiple of 5
2051 is divisible by 7 and not a multiple of 5
2058 is divisible by 7 and not a multiple of 5
2072 is divisible by 7 and not a multiple of 5
2079 is divisible by 7 and not a multiple of 5
2086 is divisible by 7 and not a multiple of 5
2093 is divisible by 7 and not a multiple of 5
2107 is divisible by 7 and not a multiple of 5
2114 is divisible by 7 and not a multiple of 5
2121 is divisible by 7 and not a multiple of 5
2128 is divisible by 7 and not a multiple of 5
2142 is divisible by 7 and not a multiple of 5
2149 is divisible by 7 and not a multiple of 5
2156 is divisible by 7 and not a multiple of 5
2163 is divisible by 7 and not a multiple of 5
2177 is divisible by 7 and not a multiple of 5
2184 is divisible by 7 and not a multiple of 5
2191 is divisible by 7 and not a multiple of 5
2198 is divisible by 7 and not a multiple of 5
2212 is divisible by 7 and not a multiple of 5
2219 is divisible by 7 and not a multiple of 5
2226 is divisible by 7 and not a multiple of 5
2233 is divisible by 7 and not a multiple of 5
2247 is divisible by 7 and not a multiple of 5
2254 is divisible by 7 and not a multiple of 5
2261 is divisible by 7 and not a multiple of 5
2268 is divisible by 7 and not a multiple of 5
2282 is divisible by 7 and not a multiple of 5
2289 is divisible by 7 and not a multiple of 5
2296 is divisible by 7 and not a multiple of 5
2303 is divisible by 7 and not a multiple of 5
2317 is divisible by 7 and not a multiple of 5
2324 is divisible by 7 and not a multiple of 5
2331 is divisible by 7 and not a multiple of 5
2338 is divisible by 7 and not a multiple of 5
2352 is divisible by 7 and not a multiple of 5
2359 is divisible by 7 and not a multiple of 5
2366 is divisible by 7 and not a multiple of 5
2373 is divisible by 7 and not a multiple of 5
2387 is divisible by 7 and not a multiple of 5
2394 is divisible by 7 and not a multiple of 5
2401 is divisible by 7 and not a multiple of 5
2408 is divisible by 7 and not a multiple of 5
2422 is divisible by 7 and not a multiple of 5
2429 is divisible by 7 and not a multiple of 5
2436 is divisible by 7 and not a multiple of 5
2443 is divisible by 7 and not a multiple of 5
2457 is divisible by 7 and not a multiple of 5
2464 is divisible by 7 and not a multiple of 5
2471 is divisible by 7 and not a multiple of 5
2478 is divisible by 7 and not a multiple of 5
2492 is divisible by 7 and not a multiple of 5
2499 is divisible by 7 and not a multiple of 5
2506 is divisible by 7 and not a multiple of 5
2513 is divisible by 7 and not a multiple of 5
2527 is divisible by 7 and not a multiple of 5
2534 is divisible by 7 and not a multiple of 5
2541 is divisible by 7 and not a multiple of 5
2548 is divisible by 7 and not a multiple of 5
2562 is divisible by 7 and not a multiple of 5
2569 is divisible by 7 and not a multiple of 5
2576 is divisible by 7 and not a multiple of 5
2583 is divisible by 7 and not a multiple of 5
2597 is divisible by 7 and not a multiple of 5
2604 is divisible by 7 and not a multiple of 5
2611 is divisible by 7 and not a multiple of 5
2618 is divisible by 7 and not a multiple of 5
2632 is divisible by 7 and not a multiple of 5
2639 is divisible by 7 and not a multiple of 5
2646 is divisible by 7 and not a multiple of 5
2653 is divisible by 7 and not a multiple of 5
2667 is divisible by 7 and not a multiple of 5
2674 is divisible by 7 and not a multiple of 5
2681 is divisible by 7 and not a multiple of 5
2688 is divisible by 7 and not a multiple of 5
2702 is divisible by 7 and not a multiple of 5
2709 is divisible by 7 and not a multiple of 5
2716 is divisible by 7 and not a multiple of 5
2723 is divisible by 7 and not a multiple of 5
2737 is divisible by 7 and not a multiple of 5
2744 is divisible by 7 and not a multiple of 5
2751 is divisible by 7 and not a multiple of 5
2758 is divisible by 7 and not a multiple of 5
2772 is divisible by 7 and not a multiple of 5
2779 is divisible by 7 and not a multiple of 5
2786 is divisible by 7 and not a multiple of 5
2793 is divisible by 7 and not a multiple of 5
2807 is divisible by 7 and not a multiple of 5
2814 is divisible by 7 and not a multiple of 5
2821 is divisible by 7 and not a multiple of 5
2828 is divisible by 7 and not a multiple of 5
2842 is divisible by 7 and not a multiple of 5
2849 is divisible by 7 and not a multiple of 5
2856 is divisible by 7 and not a multiple of 5
2863 is divisible by 7 and not a multiple of 5
2877 is divisible by 7 and not a multiple of 5
2884 is divisible by 7 and not a multiple of 5
2891 is divisible by 7 and not a multiple of 5
2898 is divisible by 7 and not a multiple of 5
2912 is divisible by 7 and not a multiple of 5
2919 is divisible by 7 and not a multiple of 5
2926 is divisible by 7 and not a multiple of 5
2933 is divisible by 7 and not a multiple of 5
2947 is divisible by 7 and not a multiple of 5
2954 is divisible by 7 and not a multiple of 5
2961 is divisible by 7 and not a multiple of 5
2968 is divisible by 7 and not a multiple of 5
2982 is divisible by 7 and not a multiple of 5
2989 is divisible by 7 and not a multiple of 5
2996 is divisible by 7 and not a multiple of 5
3003 is divisible by 7 and not a multiple of 5
3017 is divisible by 7 and not a multiple of 5
3024 is divisible by 7 and not a multiple of 5
3031 is divisible by 7 and not a multiple of 5
3038 is divisible by 7 and not a multiple of 5
3052 is divisible by 7 and not a multiple of 5
3059 is divisible by 7 and not a multiple of 5
3066 is divisible by 7 and not a multiple of 5
3073 is divisible by 7 and not a multiple of 5
3087 is divisible by 7 and not a multiple of 5
3094 is divisible by 7 and not a multiple of 5
3101 is divisible by 7 and not a multiple of 5
3108 is divisible by 7 and not a multiple of 5
3122 is divisible by 7 and not a multiple of 5
3129 is divisible by 7 and not a multiple of 5
3136 is divisible by 7 and not a multiple of 5
3143 is divisible by 7 and not a multiple of 5
3157 is divisible by 7 and not a multiple of 5
3164 is divisible by 7 and not a multiple of 5
3171 is divisible by 7 and not a multiple of 5
3178 is divisible by 7 and not a multiple of 5
3192 is divisible by 7 and not a multiple of 5
3199 is divisible by 7 and not a multiple of 5

In [ ]:
print(MyList)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Question 2

Write a program that can compute the factorial of a given number. (the factorial of n is the product of all positive integers less than or equal to n). for example factorial(5)= 5 x 4 x 3 x 2 x 1 the result is 120. (i.e. factorial (0)=1)

In [ ]:
def factorial (n):
  if n==0:
    return 1
  else:
    F=1
    for i in range (2, n+1):
      F= F*i
    return F
print("Factorial 5 is ", factorial (5))
print("Factorial 0 is ", factorial (0))

Factorial 5 is  120
Factorial 0 is  1

Question 3

With a given integer number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
n = int(input())
MyDict = {}
for i in range (1,n+1):
  MyDict[i] =i*i
print(MyDict)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question 4

Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).

missing_char('kitten', 1) → 'ktten' for example here we remove "i" which is located in the index 1

missing_char('kitten', 0) → 'itten' here we remove "k" which is in the index 0

missing_char('kitten', 4) → 'kittn' here we remove "e" which is in the index 4

In [ ]:
n = int(input())
char="Kitten"
for i in range (len(char)-1):
  new_char= char.replace(char[n],"")
print(new_char)

1
Ktten

Question 5

Write a NumPy program to convert a NumPy array into a Python list structure.

Expected Output:

Original array elements: [[0 1] [2 3] [4 5]]

Array to list: [[0, 1], [2, 3], [4, 5]]

Hint: we can use the to_list() function to ensure the conversion.

Original array elements

In [ ]:
import numpy as np
original_array= np.array([[0,1], [2,3], [4,5]])
print("original array elements: ", original_array)

original array elements:  [[0 1]
 [2 3]
 [4 5]]

Array to list

In [ ]:
list=original_array.tolist()
print("Array to list: ", list)

Array to list:  [[0, 1], [2, 3], [4, 5]]

Question 6

Write a NumPy program to compute the covariance matrix of two given arrays.

Original array1: [0 1 2]

Original array2: [2 1 0]

Covariance matrix of the said arrays: [[ 1. -1.] [-1. 1.]]

Hint: We can use the np.cov() function to calculate the covariance between these two arrays

Original array1

In [ ]:
Original_array1= [0,1,2]
print("Original array1: ", Original_array1)

Original array1:  [0, 1, 2]

Original array2

In [ ]:
Original_array2= [2,1,0]
print("Original array2: ", Original_array2)

Original array2:  [2, 1, 0]

Covariance matrix of the said arrays

In [ ]:
Covariance_matrix=np.cov(Original_array1, Original_array2)
print("Covariance matrix of the said arrays:", Covariance_matrix)

Covariance matrix of the said arrays: [[ 1. -1.]
 [-1.  1.]]

Question 7

Question: Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H]

The following are the fixed values of C and H: C is 50. H is 30.

D is the variable whose values should be input into your program in a comma-separated sequence. (that means D contains more than value)

Example Let's assume the following comma-separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

To further explain this, we will obtain a result for each value of D: Q1= Square root of [(2 * C * 100)/H] =18, Q2= Square root of [(2 * C * 150)/H] = 22 and Q3 = Square root of [(2 * C * 180)/H] = 24

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import math
C=50
H=30
n= input("D: ", )
n= n.split(",")
list= []
for D in n:
    Q=round(math.sqrt((2*C * int(D)/H)))
    list.append(Q)
print(list)

D: 100,150,180
[18, 22, 24]